<h1 class="mt-4">Listagem de Fabricantes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Home / Listagem de Fabricantes</li>
</ol>
<div class="container">
    <form >
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome do Fabricante:</label>
                <input type="text"class="form-control">
            </div>
            <div class="col-md-6">
                <label for="inputNome">Nº do Contrato:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="inputNome">CNPJ:</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button"
                        routerLink="/fabricantes-form" 
                        class="btn btn-warning ml-1">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </form>

    <br />
    <div class="row">
        <div class="alert alert-warning" role="alert" >

        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Fabricante</th>
                        <th>E-mail</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fabricante of fabricantes" >
                        <td>{{ fabricante.nome }} </td>
                        <td>{{ fabricante.email }} </td>
                        <td>{{ fabricante.status == true ? "Ativo":"Inativo" }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
