<h1 class="mt-4">Listagem de Tipo de Manutenções</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Home / Tipo de Manutenções</li>
</ol>
<div class="container">
    <form >
        <br />
        <div class="row">
            <div class="col-md-4">
                <button type="button" 
                        class="btn btn-warning ml-1">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </form>

    <br />
    <div class="row">
        <div class="alert alert-warning" role="alert" >

        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Tipo de Manutenção</th>
                        <th>Descrição</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>teste</td>
                        <td>teste</td>
                        <td>teste</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
