<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Consulta</li>
</ol>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-warning" (click)="novoCadastro()" >
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1">
            <label>Mês:</label>
            <select [(ngModel)]="mes" class="form-control" name="mes" placeholder="Mês">
                <option value="">Selecione...</option>
                <option *ngFor="let mes of meses" [value]="mes">
                    {{ mes }}
                </option>
            </select>
        </div>
        <div class="col-md-8">
            <label>Nome Cliente:</label>
            <div class="input-group mb-2">
                <input type="text"
                    class="form-control"
                    placeholder="Nome"
                    [(ngModel)]="nome" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary"
                        type="button"
                        (click)="retrieveServicosPrestados()">
                        Pesquisar
                        </button>
                    </div>
            </div>
        </div>

        <div class="col-md-2">
            <label>Itens por página:</label>
            <select (change)="handlePageSizeChange($event)" class="form-control">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
    </div>

    <br />
    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{ message }}   
        </div>
        <div class="col-md-12"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Data</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servicoprestado of servicosPrestados | paginate : {
                                    itemsPerPage: pageSize,
                                    currentPage: page,
                                    totalItems: count
                                };
                            let i = index"
                        [class.active]="i == currentIndex"
                        (click)="setActiveServicoPrestado(servicoprestado, i)" >
                        <td>{{ servicoprestado.cliente.nome }}</td>
                        <td>{{ servicoprestado.descricao }} </td>
                        <td>{{ servicoprestado.preco }} </td>
                        <td>{{ servicoprestado.data | mask: "00/00/0000" }} </td>
                        <button class="btn btn-primary" 
                                routerLink="/servicos-prestados/form/{{ servicoprestado.id }}">
                            <i class="fa fa-edit"></i>
                        </button>

                        <button class="btn btn-danger" (click)="preparaDelecao(servicoprestado)" 
                                data-toggle="modal" data-target="#modalDelecao">
                            <i class="fa fa-trash"></i>
                        </button>

                        
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="servicosPrestadosSelecionado">
                    Confirma a deleção do(a) Servico Prestado {{ servicosPrestadosSelecionado.descricao }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarServicoPrestado()"  
                            data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
