<div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Criação de Conta</h3></div>
                                <div class="card-body">
                                    <div class="alert alert-success" *ngIf="cadastrando">
                                        {{ mensagemSucesso }}
                                    </div>
                                    
                                    <div class="alert alert-danger" *ngIf="flagConfirmaSenha">
                                        {{ mensagemSenha }}
                                    </div>

                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>
                                    
                                    <form #loginForm="ngForm" >

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Nome</label>
                                                    <input type="text" name="name"
                                                        [(ngModel)]="name" autocomplete="off"
                                                        class="form-control py-4"
                                                        placeholder="Digite seu nome" />
                                                </div>
                                            </div>
                                            <div class="col-md-6" ></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="email">Email (LOGIN)</label>
                                            <input type="email" id="email" name="email"
                                                        [(ngModel)]="email"
                                                        class="form-control py-4"
                                                        placeholder="Digite seu Email" />
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Senha</label>
                                                    <input type="password" name="password"
                                                        [(ngModel)]="password"
                                                        class="form-control py-4"
                                                        placeholder="Digite sua Senha" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Confirme a Senha</label>
                                                    <input type="password" name="confirmacaoSenha"
                                                        [(ngModel)]="confirmacaoSenha"
                                                        class="form-control py-4"
                                                        placeholder="Confirme sua Senha" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0">
                                            <button type="button" class="btn btn-success" 
                                                (click)="cadastrar()" onclick="">
                                                Cadastrar
                                            </button>
                                            
                                            <button type="button" (click)="cancelaCadastro()"
                                                    class="btn btn-danger ml-1" *ngIf="cadastrando">
                                                Cancelar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a class="nav-link collapsed" routerLink="/login" 
                                            data-toggle="collapse" data-target="#collapseLayouts" 
                                            aria-expanded="false" aria-controls="collapseLayouts">
                                            Já tem uma conta? Vá para o login!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; eMaintenance - 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>