<h1 class="mt-4">Cadastro de Manutenções</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Home / Cadastro de Manutenções</li>
</ol>
<div class="container">
    <form >
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Título da Manutenção:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição da Manutenção:</label>
                    <textarea class="form-control" rows="4" >Descrição da Manutenção</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome do Operador:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome do Manutendedor</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Equipamentos: </label>
                    <select class="form-control">
                        <option value="">Selecione</option>
                        <option *ngFor="let equipamento of equipamentos" >
                            {{ equipamento.nome }}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-4">
                    <label>Tipo de Manutenção:</label>
                    <select  class="form-control">
                        <option value="0">Selecione</option>
                        <option *ngFor="let tipoManutencao of tiposManutencoes" >
                            {{ tipoManutencao.nome }}
                        </option>
                    </select>
            </div>
            <div class="col-md-4">
                <label>Criticidade:</label>
                <select  class="form-control">
                    <option value="0">Selecione</option>
                    <option *ngFor="let criticidade of criticidades" >
                        {{ criticidade.nome }}
                    </option>
                </select>
            </div>

        </div>
        <br/> 	

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Dia da Manutenção:</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Última Manutenção:</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Próxima Manutenção:</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Data de Atualização:</label>
                    <input type="date" class="form-control">
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><strong>IMPORTANTE</strong></label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="website">Faltam <strong>{{manutencao.diasFinalizacao}}</strong> dias para o fim da Manutenção!</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="website">A Manutenção foi feita em <strong>{{manutencao.diasTotais}}</strong> dias!</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Pause na Manutenção:</label>
                    <div>
                      <label>
                        <input type="checkbox" value={{manutencao.pauseManutencao}}  [checked]="manutencao.pauseManutencao === true ? true : false"/>
                        {{manutencao.pauseManutencao == true ? 'Ativo' : 'Inativo'}}
                      </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Data prevista para retorno do Pause:</label>
                    <input type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Data de Cadastro:</label>
                    <input type="date" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="website">Data de Atualização:</label>
                    <input type="date" class="form-control" disabled>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label for="website">Status:</label>
                    <div>
                      <label>
                        <input type="checkbox" value={{manutencao.status}}  [checked]="manutencao.status === true ? true : false"/>
                        {{manutencao.status == true ? 'Ativo' : 'Inativo'}}
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" >
                    <i class="fa fa-save" ></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" >
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" >
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>