<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">MENU</div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed" routerLink="/equipamentos-lista" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i></div>
                        Equipamentos
                </a>
                <a class="nav-link collapsed" routerLink="/manutencoes-lista" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i></div>
                        Manutenções
                </a>
                <div class="sb-sidenav-menu-heading">Configurações</div>
                <a class="nav-link collapsed" routerLink="/fabricantes-lista" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i></div>
                        Fabricantes
                </a>
                <a class="nav-link collapsed" routerLink="/tipos-equipamentos-lista" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i></div>
                        Tipos de Equipamentos
                </a>
                <a class="nav-link collapsed" routerLink="/tipos-manutencoes-lista" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i></div>
                        Tipos de Manutenções
                </a>
                <a class="nav-link collapsed" routerLink="/criticidades-lista" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i></div>
                        Criticidade
                </a>
                <div class="sb-sidenav-menu-heading">ACESSO</div>
                <a class="nav-link collapsed" routerLink="/usuarios-lista" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i></div>
                        Usuários
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>