<h1 class="mt-4">Canal Direto com o Usuário</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Home / Canal Direto com o Usuário</li>
</ol>
<div class="container">
    <form (submit)="onSubmit()" >
        <div class="row">
            <div class="col-md-12">
    
                <div class="alert alert-success" role="alert">
                     
                </div>
    
                <div class="alert alert-danger" role="alert" >
                    
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-warning"  >
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data Cadastro</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                            <td>
                                <button class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>
    
                                <button class="btn btn-danger"  
                                        data-toggle="modal" data-target="#modalDelecao">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div id="modalDelecao" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirmação</h4>
                    </div>
    
                    <div class="modal-body" >
                        Confirma a deleção do(a) Cliente?
                    </div>
    
                    <div class="modal-footer">
                        <button class="btn btn-success" 
                                data-dismiss="modal">Confirmar</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>    
</div>

